

img {
  gap: 10em;
  max-width: 100px;
  max-height: 50px;
  display: block;
  margin: auto;
  align-content: random($limit: 1);
}

form {

  gap: 12px;
}

  button[type="submit"] {
    padding: 15px 20px;
    margin: 10px auto;
    float: right;
    }







